@charset "utf-8";
	/*
      Styles for iOS tab bar SalOnBike.
    */
	@font-face {
font-family: Vitor;
src: url("vitor.otf") format("opentype");
}

    .isiOS .tabbar > .button > .icon,
    .isSafari .tabbar > .button > .icon {
      background-color: #929292;
      -webkit-mask-position: center center;
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
    }
    .isiOS .tabbar > .button.selected > .icon
     {
      background-color: #007aff !important;
    }
    .tabbar > .button.estacion > .icon  {
      -webkit-mask-image: url('../icons/bikeStations.png');
    }
    .tabbar > .button.ruta > .icon  {
		-webkit-mask-image: url('../icons/route-nearest-station.png');
     
    }
    .tabbar > .button.carril > .icon {
      -webkit-mask-image: url('../icons/carrilBici.png');
    }
    .tabbar > .button.rutabici > .icon  {
       -webkit-mask-image: url('../icons/route.png');
    }
	
	.tabbar > .button.listado > .icon  {
      -webkit-mask-image: url('../icons/list.png');
    }
	.tabbar > .button{
	font-size:8px;	
	}
    .image-grid, .image-grid > li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .image-grid {
      margin-left: 10px;
    }
    .image-grid > li {
      float: left;
      height: 100px;
      width: 100px;
      border: solid 1px #666;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      display: block;
    }
    .image-grid > li > img {
      display: block;
      height: 100%;
    }
	article > section{
	padding-bottom:0px!important;	
	}
	.dialogLine{
	padding-left:0px;
		
	}
	
	.dialogLine .icon{
	margin-right:10px;	
	}
	.dialogLine .icon_candados{
	background-image: url('../icons/locks_availables.png');
	height: 24px;
	width: 24px;		
	background-size:100%;
	vertical-align:middle;
	display:inline-block;
	}
	
	.dialogLine .icon_bicis{
	background-image: url('../icons/bikes_availables.png');
	height: 24px;
	width: 24px;		
	background-size:100%;
	vertical-align:middle;
	display:inline-block;
	}
	.dialogLine .icon_toLane{
	background-image: url('../icons/route_icon.png');
	height: 24px;
	width: 24px;		
	background-size:100%;
	vertical-align:middle;
	display:inline-block;
	}
	
	.dialogLine .icon_length{
	background-image: url('../icons/length.png');
	height: 24px;
	width: 24px;		
	background-size:100%;
	vertical-align:middle;
	display:inline-block;
	}
	.popup{
	overflow:hidden;
	padding-left:10px!important;
	padding-right:10px!important;
	width:90%!important;
	display:block!important;
		
	}
	.popup .panel{
	width:100%!important;
	padding:0px!important;	
	display:block!important;
	overflow:hidden;
	}
	.popup .panel header{
	display:block!important;
	}
	.popup header h1{
	margin:0px;	
	}
	.dialogZone{
	
font-size:22px;
padding-left:10px;
padding-right:20px!important;
color:white;
text-align:left;
font-family: Vitor;
line-height:20px;
padding-top: 10px;
padding-bottom:10px;
width:90%!important;
display:block;
margin-right:10px;
	}
	
	.listZoneDialog{
	font-weight:bold;
	margin-left:10px;
	padding:0px!important;
	
	
	}
	.listZoneDialog h3{
	border-left-width: 20px;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: solid;	
min-height:35px;
/* line-height:65px!important; */
font-size: 24px;
padding-top: 15px;
padding-bottom:15px;
padding-left: 10px;
	}
	
	.creditDialog {
	font-weight:bold;
	font-size:14px;
	text-transform:capitalize;
	margin-left:10%;
	}
	
	.creditDialogP{
	text-transform:capitalize;
	margin-left:10%;
	}
	
	#listaZonas ul.list{
	margin-top:65px;	
	margin-left:0px!important;
	margin-right:0px!important;
	padding:0px!important;
	}
	#listaZonas ul.list li{
	margin:0px!important;
	padding:0px!important;	
	}
	.colorList{
	width:15px;
	height:65px;
	display:inline-block;
	}
	
	.calculating{
		background-image: url('../img/ajax-loader.gif');
		opacity:0.5;
		height: 48px;
	width: 48px;
	background-size:100%;
	display:inline-block;
	}
	nav.current{
	background-color:#38a0f9!important;	
	height:65px!important;
	
	}
	nav.zonas{
	z-index:100;	
	}
	nav.current h1{
		
		top: 0px;
left:30px;
right:0px;
font-size: 26px!important;
text-align:left;
font-family:Vitor;
	}
	
#home-button,.home-button{
	background-image: url(../icons/toolbar-icon.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	
	z-index: 20;
	
}
#home-button.visible{
opacity:1;	
}
